.detournee {
  text-decoration: underline;
  color: blue;
}

.contandante {
  font-weight: bold;
  color : blue;
}

article h1 {
  color: red;
}

article h2 {
  color: red
}

article h3 {
  color: red 
}

article h4{
  color: red;
}

 nav li> ul {
  list-style-type: none;
}

#armes >ul>li {
  color:green;
}


.coupante {
  color: blue;
}

article img {
  height: 1em;
}

aside img{
  width: 20vw;
}


.tue {
  color: blue;
}